<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Multer</title>
</head>
<body>
    <h1>Her na vorotnik</h1>
    <div class="test">
        <form class="test-form">
            <input type="text" name="name" placeholder="write your name...">
            <input type="text" name="surname" placeholder="write your surname...">
            <button type="submit">Send form</button>
        </form>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>